@model Presentacion.Models.ClienteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminación Cliente</h1>

<h3>¿Seguro que desea eliminar este registro?</h3>
<div>
    <h4>ClienteModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CedulaCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido1Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido1Cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido2Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido2Cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CorreoCliente)
        </dd>
    </dl>
    
    <form asp-action="Eliminar" asp-controller="Cliente" method="post">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
