@model Presentacion.Models.ReservaModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Reserva</h1>

<h3>¿Seguro desea eliminar este registro?</h3>
<div>
    <h4>ReservaModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdReserva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdReserva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodReserva)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodReserva)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadAdultos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadAdultos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadNinos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadNinos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CedulaCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodHabitacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodHabitacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioHabitacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioHabitacion)
        </dd>

    </dl>
    
    <form asp-action="Eliminar" asp-controller="Reserva" method="post">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
