@model IEnumerable<Presentacion.Models.ReservaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CrearReserva" asp-controller="Reserva">Crear nueva reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadAdultos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadNinos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodHabitacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioHabitacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadAdultos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadNinos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodHabitacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioHabitacion)
            </td>
            <td>
                @Html.ActionLink("Modificar", "EditaReserva", "Reserva", new { item.IdReserva }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Eliminar", "Eliminar", "Reserva", new { item.IdReserva }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
